/*font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
}

/* -------------------------------------------------------
  @@@   HEADER
  ------------------------------------------------------- */

header {
    background: #000000;
    opacity: 80%;
}

header a {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    opacity: 30%;
    text-decoration: none;
}

header a:hover {
    color: #fe7b4f;
}

header a:nth-child(1) {
    text-transform: capitalize;
    font-weight: bold;
}

h2 {
    letter-spacing: 0,5em;
}

/* -------------------------------------------------------
  @@@   FIGURE
  ------------------------------------------------------- */

figure figcaption {
    font-style: italic;
    text-align: center; 
}

figure img {
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.2);
}

/* -------------------------------------------------------
  @@@   HOME
  ------------------------------------------------------- */
#home {
    background-image: url(../img/abstract.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2d3fbd;
    background-attachment: fixed;
}

#home {
    color: #ffffff;
    line-height: 2rem;
}

#home h1 {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 20vmin;
    line-height: 1em;
    background-blend-mode: overlay;
}
/* -------------------------------------------------------
  @@@   Skeuomorphism
  ------------------------------------------------------- */
#skeuomorphism {
    background-image: url(../img/woodfloor.jpg);
    background-position: center;
    background-size:cover;
    background-color: white;
    background-repeat: repeat ;
}

#skeuomorphism h2 {
    color: #c97e4b;
}
/* -------------------------------------------------------
  @@@   Flatedesign
  ------------------------------------------------------- */
#flatedesign {
    background:linear-gradient(45deg white, #e0e0e0);
    box-shadow: none;
    
}
/* -------------------------------------------------------
  @@@   materialdesign
  ------------------------------------------------------- */
#materialdesign {
    background-color: #f44133;
}

#materialdesign h2 {
    color: #f44133;
}

.content  {
    background-color: #ebecf0;
}